/* Sliding pics? */
.event-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: calc(100vw * 8);
    height: 100%;
    z-index: 1;
}

.image-slider img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    flex-shrink: 0;
} 

.navbar {
    /* background-color: #333; */
    overflow: hidden;
    text-align: center;
}
 .navbar li {
    display: inline-flex;
    font-size: 36px;
}


  /* text-align: center;
  using professor's website css as a reference
  background: rgba(60, 60, 54, 0.326);
  line-height: 50px;
  word-spacing: 100px; space between words, I started at 20 and moved up to 50 then 70
  font-size: 20px; */